<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IHRBLL.Iconfig_public_charBLL,IHRBLL" mapTo="HRBLL.config_public_charBLL,HRBLL" name="config_public_charBLL"></register>
        <register type="IHRBLL.Iconfig_major_kindBLL,IHRBLL" mapTo="HRBLL.config_major_kindBLL,HRBLL" name="config_major_kindBLL"></register>
        <register type="IHRBLL.Iconfig_majorBLL,IHRBLL" mapTo="HRBLL.config_majorBLL,HRBLL" name="config_majorBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
