<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IHRBLL.ILoginBLL,IHRBLL" mapTo="HRBLL.LoginBLL,HRBLL" name="LoginBLL"></register>
        <register type="IHRBLL.Ipublic_charBLL,IHRBLL" mapTo="HRBLL.public_charBLL,HRBLL" name="public_charBLL"></register>
        <register type="IHRBLL.Iconfig_file_third_kindBLL,IHRBLL" mapTo="HRBLL.config_file_third_kindBLL,HRBLL" name="config_file_third_kindBLL"></register>
        <register type="IHRBLL.Imajor_changeBLL,IHRBLL" mapTo="HRBLL.major_changeBLL,HRBLL" name="major_changeBLL"></register>
      </container>
    </containers>
  </unity>

</configuration>
