<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IHRBLL.ILoginBLL,IHRBLL" mapTo="HRBLL.LoginBLL,HRBLL" name="LoginBLL"></register>
        <register type="IHRBLL.IFirstKindBLL,IHRBLL" mapTo="HRBLL.FirstKindBLL,HRBLL" name="FirstKindBLL"></register>
        <register type="IHRBLL.ISecondKindBLL,IHRBLL" mapTo="HRBLL.SecondKindBLL,HRBLL" name="SecondKindBLL"></register>
      <register type="IHRBLL.IThirdKindBLL,IHRBLL" mapTo="HRBLL.ThirdKindBLL,HRBLL" name="ThirdKindBLL"></register>
      <register type="IHRBLL.IEngageResumeBLL,IHRBLL" mapTo="HRBLL.EngageResumeBLL,HRBLL" name="EngageResumeBLL"></register>
      </container>
    </containers>
  </unity>

</configuration>
